/* ------------------------------------------- */
/* Se setea el CSS */
/* ------------------------------------------- */

:root {
    --text-color: #DEE1DF;
    --secondary-text-color: #BBBBBB;
    --light-primary-green: #93BB99;
    --ligth-secondary-green: #677D6A;
    --dark-secondary-green: #40534C;
}

section[id] {
    scroll-margin-top: 100px;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Chillax', sans-serif;
    font-size: 22px;
}

body {
    background: url(../img/BackGorud\ Blur\ 1.png);
    background-size: cover;
    padding: 5vh 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: .3rem;
}

::-webkit-scrollbar-track {
    background: #121513;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--ligth-secondary-green) 0%, var(--dark-secondary-green) 100%);
    height: 1rem;
    border-radius: 1rem;
}



/* ------------------------------------------- */
/* Componentes mas utilizados*/
/* ------------------------------------------- */


/* GlassMorfismo */
.glass {
    /* From https://css.glass */
    background: rgba(51, 55, 53, 0.41);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(51, 55, 53, 0.23);
    padding: 10px 15px;
}

nav button:hover svg {
    filter: drop-shadow(0 0 10px var(--text-color));
}


/* Texto fluorecente */
.glowy-text {
    color: var(--light-primary-green);
    text-shadow: 0 0 10px var(--light-primary-green);
}

/* Boton Primario */
.button-primary {
    font-size: 1rem;
    text-decoration: none;
    color: var(--light-primary-green);
    border: 1px solid var(--light-primary-green);
    border-radius: 10px;
    padding: 5px 10px;
    transition: .4s;
    width: fit-content;
}

.button-primary:hover {
    color: white;
    background: linear-gradient(to left, var(--ligth-secondary-green) 0%, var(--dark-secondary-green) 100%);
    border: 1px solid transparent;
    box-shadow: 0 0 10px var(--light-primary-green);
}


/* Boton secundario */
.secondary-button {
    color: white;
    background: linear-gradient(to left, var(--ligth-secondary-green) 0%, var(--dark-secondary-green) 100%);
    padding: 7px 14px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 10px var(--light-primary-green);
    transition: .25s;
    font-size: .8rem;
    width: fit-content;
}

.secondary-button:hover {
    transform: scale(1.05);
}

/* Boton sin fondd */
.background-less-button {
    border: 1px solid var(--light-primary-green);
    color: var(--light-primary-green) !important;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
}



/* Titulos de las Secciones */
h2.section-header {
    color: var(--light-primary-green);
    font-weight: 600;
    font-size: 3rem;
    text-shadow: 0 0 10px var(--light-primary-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
}

h2 svg {
    filter: drop-shadow(0 0 10px var(--light-primary-green));
    width: 3rem;
    height: 3rem;
}

/* ------------------------------------------- */
/* Estilos de la navbar*/
/* ------------------------------------------- */

nav {
    max-width: 100vw;
}

nav ul li a {
    color: var(--text-color) !important;
    font-size: .8rem;
    font-weight: 500;
    text-decoration: none;
    transition: .4s;
    margin-left: 30px;
}

nav ul li a:hover {
    text-shadow: 0 0 10px var(--text-color);
}

nav ul {
    display: flex;
    gap: 15px 30px;
}

nav #nav-button {
    color: var(--text-color);
    border: none;
}

nav #nav-button:focus {
    border: none;
    box-shadow: none;
    filter: drop-shadow(0 0 10px var(--text-color));
}


nav a {
    text-decoration: none;
    color: var(--text-color);
    background: none;
    border: none;
    font-size: 19px;
    margin: 0 15px;
    font-weight: 500;
    transition: .4s;
    padding: 7px 10px;
}

nav button:hover {
    text-shadow: 0 0 10px var(--text-color);
}

nav button i {
    font-size: 40px;
}

nav svg {
    transition: .5s;
}


/* ------------------------------------------- */
/* Estilos del Footer*/
/* ------------------------------------------- */

footer {
    max-width: 100vw;
}

footer .redes-sociales {
    width: fit-content;
    display: flex;
    gap: 0 21px;
    margin: 0 auto;
    transform: translateY(40px);
    opacity: .5;
    transition: .4s;
}

footer .redes-sociales:hover {
    transform: translateY(-10px);
    opacity: 1;
}

footer .red-social svg {
    color: var(--text-color);
    z-index: -1;
}

footer .red-social {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

footer .red-social:hover {
    background: linear-gradient(var(--ligth-secondary-green) 0%, var(--dark-secondary-green) 100%);
    box-shadow: 0 0 10px var(--light-primary-green);
}

/* ------------------------------------------- */
/* Estilos del Hero*/
/* ------------------------------------------- */

#hero {
    margin-top: 4.5rem;
}

#hero h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--text-color);
}

#hero h1 {
    font-size: 4rem;
    font-weight: 600;
}


#hero p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 2.3rem;
}

#hero img {
    animation: 3s infinite float running;
    height: 30rem;
}

#hero .botones-contacto {
    display: flex;
    gap: 0 15px;
}

/* ------------------------------------------- */
/* Sumary */
/* ------------------------------------------- */
#sumary {
    margin-top: 3.5rem;
}

#sumary .sumary-cards {
    width: fit-content;
    display: flex;
    gap: 0 100px;
    padding: 20px 40px;
    max-width: 100%;
    flex-wrap: wrap;
}

#sumary .sumary-card {
    text-align: center;
    position: relative;
}

#sumary .sumary-card:nth-child(odd)::before {
    content: '';
    width: 1px;
    height: 90%;
    background: var(--text-color);
    position: absolute;
    right: -50px;
}

#sumary .sumary-card:nth-child(2)::before {
    content: '';
    width: 1px;
    height: 90%;
    background: var(--text-color);
    position: absolute;
    right: -50px;
}

#sumary .sumary-card h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--light-primary-green);
    margin: 0;
}

#sumary p {
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
    text-shadow: 0 0 10px var(--text-color);
}


/* ------------------------------------------- */
/* Seccion Experiencia*/
/* ------------------------------------------- */
#experience {
    margin-top: 9rem;
    text-align: center;
    position: relative;
}

#experience::before {
    content: '';
    position: absolute;
    height: 838px;
    width: 730px;
    background: url(../img/detalle-experience.png);
    background-size: cover;
    left: -300px;
    top: -250px;
    animation: 3s infinite float running;
    z-index: -1;
}


#experience .experience-cards {
    display: flex;
    flex-direction: column;
    gap: 37px 0;
}

#experience .experience-card {
    padding: .8rem 1.2rem;
    cursor: pointer;
    transition: .25s;
}

#experience .experience-card:not(:hover) {
    filter: blur(1px);
    opacity: .5;
}


#experience .experience-card .titulo h5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 10px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0;
    text-wrap: pretty;
}

#experience .experience-card h5 svg {
    color: var(--light-primary-green);
}

#experience .experience-card svg {
    height: 1.2rem;
}

#experience .experience-card p {
    color: var(--secondary-text-color);
    font-size: 1rem;
    text-align: start;
    margin-bottom: 0;
}

#experience .experience-card .descripcion p {
    color: var(--text-color);
    font: 20px;
    margin-bottom: 0;
}

#experience img {
    display: none;
    border: 1px solid var(--ligth-secondary-green);
    border-radius: 20px;
    animation: .25s expandir;
}

#experience img.enabled {
    display: block;
    transform: scale(1.1);
}

#experience .imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    transition: .25s;
}

/* ------------------------------------------- */
/* Habilidades */
/* ------------------------------------------- */
#habilidaes svg {
    height: 3rem;
}

#habilidades {
    margin-top: 5.5rem;

}

#habilidades .container {
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding-top: 24px;
    padding-bottom: 93px;
}

#habilidades .iconos-habilidades ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    gap: 0 3rem;
    padding: 27px 20px;
}

#habilidades .iconos-habilidades svg {
    transition: .25s;
    cursor: pointer;
}

#habilidades .iconos-habilidades svg:hover {
    transform: scale(1.2);
}

/* ------------------------------------------- */
/* Proyectos */
/* ------------------------------------------- */
#proyectos {
    margin-top: 9rem;
    position: relative;
}

#proyectos::after {
    content: '';
    position: absolute;
    height: 533px;
    width: 523px;
    background: url(../img/decoracion-proyectos.png);
    top: -150px;
    right: -200px;
    z-index: -1;
    animation: 3s float infinite;
}



#proyectos .proyect-card img {
    border: 1px solid var(--ligth-secondary-green);
    border-radius: 20px;
    transition: .25s;
}

#proyectos .proyect-card img:hover {
    transform: scale(1.025);
}


#proyectos .proyect-card .img-container {
    text-align: center;
    max-width: 100vw;
}

#proyectos .proyect-card img {
    max-width: 100%;
}


#proyectos .proyect-card h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--light-primary-green);
    margin-bottom: 10px;
}

#proyectos .proyect-card ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    gap: 0 15px;
}

#proyectos .proyect-card p {
    color: var(--text-color);
    font-size: 1rem;
}

#proyectos .proyect-card .proyecto-botones {
    display: flex;
    justify-content: flex-start;
    gap: 0 22px;
}

#proyectos .lista-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 70px 0;
}


/* ------------------------------------------- */
/* Educacion */
/* ------------------------------------------- */
#educacion {
    margin-top: 9rem;
    padding-bottom: 100px;
}

#educacion .educacion-cards-container {
    border-top: 1px solid var(--text-color);
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}

#educacion .educacion-card {
    padding: 0 auto;
}

#educacion h3 {
    font-weight: 600;
}

#educacion .educacion-card h3,
.icono svg {
    color: var(--light-primary-green);

}

#educacion .educacion-card p {
    color: var(--text-color);
    font-size: 18px;
}




/* ------------------------------------------- */
/* Animaciones */
/* ------------------------------------------- */
@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes expandir {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.1);
    }
}

/* Media Queries */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    * {
        font-size: 19px;
    }

    #hero img {
        height: 22rem;
    }

    #experience::before {
        left: -400px;
    }

    #habilidades .iconos-habilidades ul {
        gap: 0 1.5rem;
    }

    #proyectos .proyect-card {
        margin: 0 3rem;
    }

    #proyectos .proyect-card .img-container {
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 767px) {

    * {
        font-size: 15px;
    }

    #hero .botones-contacto {
        display: flex;
        justify-content: center;
    }

    #hero img {
        margin-top: 3rem;
    }

    #sumary .sumary-cards {
        align-items: center;
        justify-content: center;
        margin: 0 .5rem;
    }

    #sumary .sumary-card {
        width: 100%;
    }

    #sumary .sumary-card:nth-child(odd)::before {
        background: transparent;
    }

    #sumary .sumary-card:nth-child(2)::before {
        background-color: transparent;
    }

    #experience::before {
        left: -500px;
    }

    #experience .experience-card {
        max-width: fit-content;
        margin: 0 .5rem;
    }

    #experience img {
        width: 90%;
    }

    #habilidades .iconos-habilidades ul {
        gap: 1.5rem 2rem;
    }

    #habilidades svg {
        height: 2.7rem;
    }

    #proyectos .proyect-card .img-container {
        text-align: center;
    }

    #proyectos .proyect-card .img-container {
        margin-bottom: 2rem;
    }

    #proyectos .proyect-card .descripcion {
        margin: 0 .5rem;
    }

    #educacion .educacion-card .buttons {
        gap: 0 1rem !important;
    }

    #educacion .educacion-card {
        margin: 0 .5rem;
    }
}